/*** DISABLE DRAG OF HTML ELEMENTS ***/
a, img, 
a:after, img:after,
a::before, img::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
}

html, body{
  margin: 0px;
  height: 100vh;
  padding: 0;
}

body{
  background: linear-gradient(#06150a,#293e42);
  overflow: hidden;
  font-family: Verdana, sans-serif;
}

header {
  height: auto;
  width: 100%;
  background-image: url('Components/headBalk.png');
}
h1{
  color:white;
  font-style: italic;
  font-size: 14px;
  margin: 0 0 0 9px;
  line-height: 30px;
}

a {
  text-decoration: none;
  color: #fff;
}

a#doset {
  position: absolute;
  width: 27px;
  height: 27px;
  top: 3px;
  right: 3px;
  background-image: url('Components/settings.svg');
  background-size: contain;
  background-repeat: no-repeat;
}
button:focus {
  outline:0;
}

form {
  margin: 0 0 5px 0;
  width: 100%;
}

label{
  color:white;
}
input[type=text], 
input[type=password], 
select, 
textarea {
  width: calc(100% - 25px);
  padding: 9px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  margin: 0;
  font-family: Verdana, sans-serif;
}

input:disabled {
  opacity: 0.5;
  color: #999;
}

input#search {
  width: calc(100% - 40px);
}

a#add {
  display:  block;
  float: right;
  width: 30px;
  height: 30px;
  background-image: url(Components/contact.svg);
  margin: 3px 3px 0 0;
}

a#add.call {
  background-image: url(Components/phone.svg);
}

header img {
  width: 24px;
  float: right;
  margin: -27px 7px 0 0;
}
img {
  width:30px;
  float: right;
  margin: 5px 5px 0 0;
}
section#list address{
  width: 100%;
  height: calc(100vh - 80px);
  float: left;
  margin: 0px 0px 0px 0px;
  overflow: auto;
}
address a {
  display:block;
  width: 100%;
  height: 35px;
  float: left;
  align-items: flex-start;
  color:white;
  font-family: Verdana, sans-serif;
  font-style: italic;
  font-size: 14px;
  margin: 8px 0px 0px 30px;
  text-decoration: none;
}

section#list address a {
  position: relative;
  width: calc(100% - 62px);
  white-space: nowrap;
  overflow-x: hidden;
  margin-left: 15px;
}

section#list address a:not(.full):hover {
  overflow: visible;
  white-space: normal;
}

section#list address a ul {
  position: absolute;
  display: none;
  list-style: none;
  background-color: #152722;
  top: -12px;
  z-index: 10;
  right: 0;
  border: 1px solid #cacaca;
  border-radius: 7px;
  padding: 5px;
}

section#list address a:nth-last-child(2):nth-of-type(n+6) ul {
  bottom: 0px;
  top: auto;
}

section#list address a ul li {
  padding: 3px;
  opacity: 0.5;
}

section#list address a ul li:hover {
  opacity: 1.0;
}

section#list address a:hover ul {
  display: block;
}

section#list address a.full:hover {
  animation-duration: 3s;
  animation-name: slideleft;
  animation-iteration-count: infinite;
}

@keyframes slideleft {
  from {
    direction: ltr;
  }

  to {
    direction: rtl;
  }

}

address::-webkit-scrollbar {
  width: 1em;
}
address::-webkit-scrollbar-track {
  box-shadow: inset 0 0 25px rgba(0,0,0,1);
}
address::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  box-shadow: inset 3px -2px 18px 0;
}

section#list,
section#detail {
  display: block;
  float: left;
  width: 100%;
}

section#detail {
  display: none;
}

section#detail a {
  float: right;
}

section form fieldset {
  border: none;
  margin: 0 0 9px 0;
  padding: 0;
}

section form > fieldset {
  padding: 0 10px 0 0;
  width: calc(100% - 30px);
}


section form fieldset a, 
section form fieldset label {
  color: #fff;
  font-size: 0.9rem;
}

section form fieldset > div {
  position : relative;
  margin: 8px 0 7px 0;
  width: 100%;
  padding: 0 0 0 20px;
  min-height: 27px;
}

section#detail form fieldset legend {
  display: none;
}

section#detail form fieldset.email div input, 
section#detail form fieldset.phone div input {
  margin: 0 7px 0 0;
  width: calc(100% - 105px);
}

section#detail form fieldset.email div input.label, 
section#detail form fieldset.phone div input.label {
  width: 72px;
}
section#detail a, 
section#detail form fieldset.name div a {
  display: none;
  opacity: 0.54;
  position: absolute;
  width: 21px;
  height: 21px;
  cursor: pointer;
  top: 7px;
}

section#detail a#delcontact, 
section#detail form fieldset.name div:hover a {
  display:inline-block;
}

section#detail a#delcontact:hover, 
section#detail form fieldset.name div a:hover {
  opacity: 1.0;
}

section#detail form fieldset.email div a.mov, 
section#detail form fieldset.phone div a.mov {
  background-image: url(Components/move.svg);
  left: 0;
}

section#detail form fieldset.name div a.del {
  background-image: url(Components/delete.svg);
  right: 0;
}

section#detail form fieldset.name a.less, 
section#detail form fieldset.name a#delcontact {
  position: relative;
  display: inline-block;
  top: 3px;
}

section#detail form fieldset.name a.less {
  float: left;
  left: -12px;
}

section#detail form fieldset.name a#delcontact {
  float: right;
  right: 0px;
}
section#list address a.more{
  float: right;
  width: auto;
  padding: 0 12px 0 0;
  text-decoration: none;
  color: #fff;
}


section.console{
  float: left;
  width: calc(100vw - 276px);
}
section.console address {
  min-width: 180px;
  float: left;
  width: calc(50% - 20px);
  padding: 0 0 0 5px;
}
section.console a {
  padding: 7px;
  border: 1px solid #111;
  border-radius: 3px;
  width: calc(100% - 15px);
  margin: 3px 0;
}
section.console a:not(.del) {
  min-width: 180px;
}
.led{
  float: left;
  margin:0 15px 0 0;
  height: 21px;
  width: 21px;
  border-radius: 3px;
  background-color: grey;
}

section.console address:nth-child(even) .led {
  float: right;
}

.busy{
  background-color: red;
  box-shadow: #000 0 -1px 7px 1px, inset #d45a5a 0 -1px 9px, #f42a2a 0 2px 12px;
}
.available{
  background: lawngreen;
  box-shadow: #000 0 -1px 7px 1px, inset #6dd45a 0 -1px 9px, #39f40b 0 2px 12px;
}
.disturb{
  background: orange;
  box-shadow: #000 0 -1px 7px 1px, inset #FFD732 0 -1px 9px, #FFAF0A 0 2px 12px;
}

a.back:nth-child(odd){
  background-image: url('Components/footerBalk.png');
}

a.back div:hover {
  background-image: url('Components/edit.svg');
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
}

#contact{
  float: left;
  box-shadow: 1px 1px 20px 1px rgba(0,0,0,1);
  min-width: 10px;
  height: 100%;
  width: 276px;
}

section.console > button{
  height: calc(100vh - 36px);
  width: 30px;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

/*** CONSOLE EXTENSION EDITOR ***/
section.console img#editIcon {
  display:none;
}
section.console form#extEdit {
  display: none;
}

section.console form#extEdit fieldset {
  position: relative;
  border: none;
}

section.console form#extEdit fieldset div {
  float: left;
  width: 100%;
}

section.console form#extEdit fieldset div a {
  display: none;
  opacity: 0.54;
  position: absolute;
  width: 9px;
  height: 9px;
  cursor: pointer;
  z-index: 10;
  background: #333;
  border-radius: 18px;
  border-color: #333;
  border-width: 2px;
  top: 1px;
}
section.console form#extEdit fieldset div:hover a {
  display: inline-block;
}

section.console form#extEdit fieldset div a.del {
  background-image: url(Components/delete.svg);
  right: 27px;
}

section.console form#extEdit fieldset div a:hover {
  opacity: 1.0;
}

section.console form#extEdit fieldset button {
  position: absolute;
  right: -18px;
  z-index: 10;
  background-image: url(Components/check.svg);
  background-size: contain;
  border: none;
  cursor: pointer;
  width: 27px;
  height: 27px;
  background-color: transparent;
}

section.console form#extEdit fieldset input[type=text], 
section.console form#extEdit fieldset select, 
section.console form#extEdit fieldset textarea {
  width: calc(100% - 24px);
}
section.console ul#extList {
  display: none;
  position: absolute;
  top: 44px;
  left: 20px;
  z-index: 10;
  list-style: none;
  background-color: #fff;
  padding: 9px;
  border-radius: 4px;
  margin: 0;
  width: calc(100% - 72px);
}

section.console ul#extList li {
  padding: 5px 0;
  color: #555;
}

section.console ul#extList li:hover {
  color: #000;
}

section.console address a.edit {
  height: auto;
}

section.console address a.edit form#extEdit {
  display: block;
}
/*** SETTINGS ***/
section#settings {
  display: none;
}

section#settings form fieldset legend {
  display: none;
}

section#settings form fieldset {
  border: none;
  margin: 0 0 9px 0;
}


section#settings div {
  float: left;
  width: 100%;
  margin: 3px;
}

section#settings .switch {
  float: left;
  height: 34px;
  line-height: 34px;
  width: calc(100% - 25px);
  margin: 0 0 0 5px;
}
section#settings .switch input {display:none;}
section#settings .slider {
  float: right;
  width: 60px;
  height: 34px;
  cursor: pointer;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

section#settings .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  background-color: white;
  margin: 4px 0 0 4px;
  -webkit-transition: .4s;
  transition: .4s;
}
section#settings input:checked + .slider {
  background-color: #008000;
}
section#settings input:focus + .slider {
  box-shadow: 0 0 1px #008000;
}
section#settings input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
section#settings .slider.round {
  border-radius: 34px;
}
section#settings .slider.round:before {
  border-radius: 50%;
}

section#settings button{
  float: right;
  margin: 9px 25px 9px 0;
  height: 30px;
  width: 90px;
  color:white;
  border-radius: 4px;
  background: linear-gradient(#06150a,#293e42);
  font-family: Verdana, sans-serif;
}

footer {
  background-image: url(Components/footerBalk.png);
  height: 9px;
  width: 100%;
  overflow: auto;
  box-shadow: -1px -3px 20px 0;
  position: fixed;
  bottom: 0;
}

@media screen and (max-width: 690px) {
  section.console address {
    width: calc(100% - 35px);
  }
}

@media screen and (max-width: 320px) {
  section.console address {
    display: none;
  }
}
